$myColor: #ecd2bd;
$primaryColor: #11223e;
$secondaryColor: #ecd2bd;
$tertiary-color: #d1aa4b;
$neutral-color: #d1d6d1;
$closingColor: hsl(276, 10%, 10%);

body {
  background-color: $neutral-color;
}

nav {
  position: relative;
  float: right;

  ul,
  li {
    display: inline-block;
    margin-right: 2rem;
  }
  a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease-in;
    color: $primaryColor;

    &:hover {
      text-decoration: line-through;
    }
  }
}

header {
  background-color: $myColor;
  padding: 50px;

  .main-header {
    font-size: 3rem;
    opacity: 10%;
    font-style: italic;
    margin-top: -66px;
    letter-spacing: 2px;
    margin-bottom: 2.5rem;
  }
  .main-subHeader {
    text-decoration: underline;
  }
  h1 {
    font-size: 5rem;
    margin-top: 5rem;
    color: $primaryColor;
  }
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 2vw;
}

.main {
  background-color: $secondaryColor;

  .container & {
    background-color: $tertiary-color;
  }
  .main-heading {
    font-size: 2rem;
    padding: 15px;

    h1 {
      padding: 1rem;
    }
    .main-paragraf {
      background-color: #d1d6d19d;
      padding: 1rem;
      border-radius: 25px;
      margin-bottom: 3rem;
      transition: 0.2s ease-in;

      &:hover {
        border-radius: 10px;
        padding: 1.2rem;
      }
    }

    p {
      color: black;
    }
  }
}

.footer {
  // #{&} sama saja dengan & &-class
  #{&}-heading {
    background-color: $secondaryColor;
    padding: 1rem;
    margin-bottom: 0;
    color: #11223e;
  }
  h1,
  p {
    padding: 1rem;
  }
  p {
    color: #00000e;
  }

  & &-paragrap {
    background-color: rgba(128, 128, 128, 0.37);
    border-radius: 25px;
    padding: 1rem;
    margin-bottom: 3rem;
    transition: all 0.3s ease-in;
    &:hover {
      border-radius: 10px;
      padding: 0.8rem;
    }
  }

  & &-closing {
    background-color: $primaryColor;
    color: #fff;
    padding: 1rem;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;

    a {
      color: $myColor;
      letter-spacing: 0.1px;
      font-size: 1rem;
      text-decoration: none;
      transition: 0.25s;

      &:hover {
        opacity: 0.85;
      }
    }
  }
}
