@use "mixin" as m;

$primary-color: #11223e;
$secondary-color: #ecd2bd;
$tertiary-color: #d1aa4b;
$neutral-color: #d1d6d1;
$text-color: #00000e;

.prefooter ul {
  @include m.inline-list();
  @include m.style-list2();
}

.footer {
  // #{&} sama saja dengan & &-class
  #{&}-heading {
    background-color: $secondary-color;
    padding: 1rem;
    margin-bottom: 0;
    color: #11223e;
  }
  h1,
  p {
    padding: 1rem;
  }
  p {
    color: #00000e;
    font-size: 1.5rem;
  }

  & &-paragrap {
    background-color: rgba(128, 128, 128, 0.37);
    border-radius: 25px;
    padding: 1rem;
    margin-bottom: 3rem;
    transition: all 0.3s ease-in;
    &:hover {
      border-radius: 10px;
      padding: 0.8rem;
    }
  }

  & &-closing {
    background-color: $primary-color;
    color: #fff;
    padding: 1rem;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;

    a {
      color: $secondary-color;
      letter-spacing: 0.1px;
      font-size: 1rem;
      text-decoration: none;
      transition: 0.25s;

      &:hover {
        opacity: 0.85;
      }
    }
  }
}
