@use "mixin";

$primary-color: #11223e;
$secondary-color: #ecd2bd;
$tertiary-color: #d1aa4b;
$neutral-color: #d1d6d1;
$text-color: #00000e;

.header {
  background: $tertiary-color;
  padding: 1rem;
  border-radius: 12px;
}

.header ul {
  @include mixin.inline-list();

  li {
    background-color: $primary-color;
    padding: 0.8em 1em 0.8em 1em;
    border-radius: 25px;
    a {
      color: $neutral-color;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
