$primary-color: #11223e;
$secondary-color: #ecd2bd;
$tertiary-color: #d1aa4b;
$neutral-color: #d1d6d1;
$text-color: #00000e;

@mixin inline-list {
  margin: 0;
  padding: 1rem;
  list-style: none;
  li {
    display: inline-block;
  }
}
@mixin style-list {
  li {
    background-color: $primary-color;
    padding: 0.8em 1em 0.8em 1em;
    border-radius: 25px;
    a {
      color: $neutral-color;
    }
  }
}
@mixin style-list2 {
  li {
    background-color: $tertiary-color;
    padding: 0.8em 1em 0.8em 1em;
    border-radius: 25px;
    a {
      color: $primary-color;
    }
  }
}
